.App {
  text-align: center;
  background-color: #004921;
  padding: 50px;
}
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #fff0e0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 0px;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  header h1 {
    color: #004921;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .info {
    text-align: justify;
  }
  
  h2 {
    color: #004921;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  h3 {
    color: #333;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  p {
    color: #004921;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: center;
  }

  .home-container {
    background-color: #fff0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1);
    width: auto;
    padding: 25px;
    margin: 50px;
    padding-bottom: 50px;
  }

  .home-container-2 {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1);
    margin-top: 20px;
    padding: 20px;
    background-color: #e58c3d;

  }
  
  .home {
    background-color: #fff0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1);
    margin-top: 20px; /* Adjust as needed */
    width: 90%;
    padding: 20px; /* Adjust as needed */
  }
  
  .first-block {
    padding: 10px; /* Adjust as needed */
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  .side-by-side {
    display: flex;
    flex-wrap: wrap; /* Allow blocks to wrap to the next line if necessary */
  }
  
  .block {
    flex: 1;
    padding: 10px; /* Adjust as needed */
    border: 1px solid #ccc;
    margin-right: 10px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
  }
  
  .block:last-child {
    margin-right: 0;
  }

  .additional-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .additional-box {
    background-color: #fff0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1);
    padding: 20px; /* Adjust as needed */
  }